In [46]:
# data process
import pandas as pd
import numpy as np

data = pd.read_csv('gender.csv')

data.drop('Unnamed: 9', axis=1, inplace=True)

data[' Gender'] = data[' Gender'].replace(['male', ' male'], 1)
data[' Gender'] = data[' Gender'].replace(['female', ' female'], 0)

# Remove space from all values which starts with a space
for i in range(len(data)):
    if data[' Occupation'][i].startswith(' '):
        data[' Occupation'][i] = data[' Occupation'][i].lstrip()
    if data[' Education Level'][i].startswith(' '):
        data[' Education Level'][i] = data[' Education Level'][i].lstrip()
    if data[' Marital Status'][i].startswith(' '):
        data[' Marital Status'][i] = data[' Marital Status'][i].lstrip()
    if data[' Favorite Color'][i].startswith(' '):
        data[' Favorite Color'][i] = data[' Favorite Color'][i].lstrip()

#drop duplicate
data.drop_duplicates(inplace=True)

data.head()

C:\Users\tieway59\.conda\envs\gender-classify-37\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\tieway59\.conda\envs\gender-classify-37\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\tieway59\.conda\envs\gender-classify-37\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tieway59\.conda\envs\gender-classify-37\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Gender,Age,Height (cm),Weight (kg),Occupation,Education Level,Marital Status,Income (USD),Favorite Color
0,1,32,175,70,Software Engineer,Master's Degree,Married,75000,Blue
1,1,25,182,85,Sales Representative,Bachelor's Degree,Single,45000,Green
2,0,41,160,62,Doctor,Doctorate Degree,Married,120000,Purple
3,1,38,178,79,Lawyer,Bachelor's Degree,Single,90000,Red
4,0,29,165,58,Graphic Designer,Associate's Degree,Single,35000,Yellow

In [47]:
# Occupation, Education Level, Marital Status and Favorite Color are the categorial data
data[' Education Level'] = data[' Education Level'].replace(
    ["Bachelor's Degree", "Master's Degree", 'Doctorate Degree',
     "Associate's Degree"],
    [0, 1, 2, 3])

data[' Marital Status'] = data[' Marital Status'].replace(
    ['Married', 'Single', 'Divorced', 'Widowed'],
    [0, 1, 2, 3])

data.head()

,Gender,Age,Height (cm),Weight (kg),Occupation,Education Level,Marital Status,Income (USD),Favorite Color
0,1,32,175,70,Software Engineer,1,0,75000,Blue
1,1,25,182,85,Sales Representative,0,1,45000,Green
2,0,41,160,62,Doctor,2,0,120000,Purple
3,1,38,178,79,Lawyer,0,1,90000,Red
4,0,29,165,58,Graphic Designer,3,1,35000,Yellow

In [48]:
# Convert Occupation and Favorite color using get_dummis
# save it as a template

dummies = pd.get_dummies(data[[' Occupation', ' Favorite Color']])

dummies

,Occupation_Accountant,Occupation_Analyst,Occupation_Architect,Occupation_Business Analyst,Occupation_Business Consultant,Occupation_CEO,Occupation_Doctor,Occupation_Engineer,Occupation_Graphic Designer,Occupation_IT Manager,...,Occupation_Writer,Favorite Color_Black,Favorite Color_Blue,Favorite Color_Green,Favorite Color_Grey,Favorite Color_Orange,Favorite Color_Pink,Favorite Color_Purple,Favorite Color_Red,Favorite Color_Yellow
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
126,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
128,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
129,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
130,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [49]:
merged_data = pd.concat([data, dummies], axis=1)

#drop
merged_data.drop([' Occupation', ' Favorite Color'], axis=1, inplace=True)
merged_data.drop([' Gender'], axis=1, inplace=True)
merged_data.head()

# Now the data is ready for Machine Learning modelling.

,Age,Height (cm),Weight (kg),Education Level,Marital Status,Income (USD),Occupation_Accountant,Occupation_Analyst,Occupation_Architect,Occupation_Business Analyst,...,Occupation_Writer,Favorite Color_Black,Favorite Color_Blue,Favorite Color_Green,Favorite Color_Grey,Favorite Color_Orange,Favorite Color_Pink,Favorite Color_Purple,Favorite Color_Red,Favorite Color_Yellow
0,32,175,70,1,0,75000,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,25,182,85,0,1,45000,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,41,160,62,2,0,120000,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,38,178,79,0,1,90000,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,29,165,58,3,1,35000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [50]:
merged_data.columns

Index([' Age', ' Height (cm)', ' Weight (kg)', ' Education Level',
       ' Marital Status', ' Income (USD)', ' Occupation_Accountant',
       ' Occupation_Analyst', ' Occupation_Architect',
       ' Occupation_Business Analyst', ' Occupation_Business Consultant',
       ' Occupation_CEO', ' Occupation_Doctor', ' Occupation_Engineer',
       ' Occupation_Graphic Designer', ' Occupation_IT Manager',
       ' Occupation_Lawyer', ' Occupation_Marketing Specialist',
       ' Occupation_Nurse', ' Occupation_Project Manager',
       ' Occupation_Sales Representative', ' Occupation_Software Developer',
       ' Occupation_Software Engineer', ' Occupation_Teacher',
       ' Occupation_Writer', ' Favorite Color_Black', ' Favorite Color_Blue',
       ' Favorite Color_Green', ' Favorite Color_Grey',
       ' Favorite Color_Orange', ' Favorite Color_Pink',
       ' Favorite Color_Purple', ' Favorite Color_Red',
       ' Favorite Color_Yellow'],
      dtype='object')

In [51]:
columns = [' Age', ' Height (cm)', ' Weight (kg)', ' Education Level',
           ' Marital Status', ' Income (USD)', ' Occupation_Accountant',
           ' Occupation_Analyst', ' Occupation_Architect',
           ' Occupation_Business Analyst', ' Occupation_Business Consultant',
           ' Occupation_CEO', ' Occupation_Doctor', ' Occupation_Engineer',
           ' Occupation_Graphic Designer', ' Occupation_IT Manager',
           ' Occupation_Lawyer', ' Occupation_Marketing Specialist',
           ' Occupation_Nurse', ' Occupation_Project Manager',
           ' Occupation_Sales Representative', ' Occupation_Software Developer',
           ' Occupation_Software Engineer', ' Occupation_Teacher',
           ' Occupation_Writer', ' Favorite Color_Black', ' Favorite Color_Blue',
           ' Favorite Color_Green', ' Favorite Color_Grey',
           ' Favorite Color_Orange', ' Favorite Color_Pink',
           ' Favorite Color_Purple', ' Favorite Color_Red',
           ' Favorite Color_Yellow']

merged_data_col = pd.DataFrame(columns=columns)

merged_data_col

Empty DataFrame
Columns: [ Age,  Height (cm),  Weight (kg),  Education Level,  Marital Status,  Income (USD),  Occupation_Accountant,  Occupation_Analyst,  Occupation_Architect,  Occupation_Business Analyst,  Occupation_Business Consultant,  Occupation_CEO,  Occupation_Doctor,  Occupation_Engineer,  Occupation_Graphic Designer,  Occupation_IT Manager,  Occupation_Lawyer,  Occupation_Marketing Specialist,  Occupation_Nurse,  Occupation_Project Manager,  Occupation_Sales Representative,  Occupation_Software Developer,  Occupation_Software Engineer,  Occupation_Teacher,  Occupation_Writer,  Favorite Color_Black,  Favorite Color_Blue,  Favorite Color_Green,  Favorite Color_Grey,  Favorite Color_Orange,  Favorite Color_Pink,  Favorite Color_Purple,  Favorite Color_Red,  Favorite Color_Yellow]
Index: []

[0 rows x 34 columns]

In [52]:
my_dict = {
    ' Age': 30,
    ' Income (USD)': 4000
}
df = merged_data_col.append(my_dict, ignore_index=True)
df = df.fillna(int(0))

df

,Age,Height (cm),Weight (kg),Education Level,Marital Status,Income (USD),Occupation_Accountant,Occupation_Analyst,Occupation_Architect,Occupation_Business Analyst,...,Occupation_Writer,Favorite Color_Black,Favorite Color_Blue,Favorite Color_Green,Favorite Color_Grey,Favorite Color_Orange,Favorite Color_Pink,Favorite Color_Purple,Favorite Color_Red,Favorite Color_Yellow
0,30.0,0.0,0.0,0.0,0.0,4000.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
from sklearn.preprocessing import StandardScaler
import pickle
import numpy
# import pandas as pd
from sklearn.tree import DecisionTreeClassifier

# pickle DecisionTreeClassifier from version 1.0.2
model: DecisionTreeClassifier = pickle.load(open('dt_model.pkl', 'rb'))

a: numpy.ndarray = model.predict(df)

print(a.tolist())

[1]

C:\Users\tieway59\.conda\envs\gender-classify-37\lib\site-packages\sklearn\base.py:444: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [57]:

res = int(a[0])

type(res)

int